body {
    margin: 20px;
    font-family: 'Poppins', sans-serif;
    background-color: white;
    color: #1F1F1F;
}

.accountpagina {
    position: relative;
}

.button {
    margin-top: 20px;
    background-color: #01689B;
    color: white;
    font-size: 16px;
    padding: 10px 22px;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    text-align: center;
    }

.button:hover {
    background-color: #E7E7E7;
    color: #01689B;
    }

.loginh2 h2 {
    color: #01689B;
}

input[type=text], textarea {
        width: 50%;
        padding: 12px;
        border: 3px solid #01689B;
        border-radius: 28px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 10px;
        resize: vertical;
    }

input[type=password], textarea {
        width: 50%;
        padding: 12px;
        border: 3px solid #01689B;
        border-radius: 28px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 10px;
        resize: vertical;
    }

.aft {
    border-radius: 25px;
    border: #01689B;
    background-color: lightgrey;
    width: auto;
    padding: 5px;
    margin: 2px;
    padding-left: 20px;
}

.text-over {
    position: absolute;
    margin-top: -40px;
    margin-bottom: 100px;
    background-color: white;
    width: 90%;
}

.parlement {
    text-align: left;
}

/* Account */